:root {
  font-size: 10px; }

.mb-instagram-pack-profile-feed {
  /* Profile Section */
  /* Gallery Section */
  /* Loader */
  /* Media Query */
  /* Spinner Animation */
  /*

  The following code will only run if your browser supports CSS grid.

  Remove or comment-out the code block below to see how the browser will fall-back to flexbox & floated styling.

  */ }
  .mb-instagram-pack-profile-feed *,
  .mb-instagram-pack-profile-feed *::before,
  .mb-instagram-pack-profile-feed *::after {
    box-sizing: border-box; }
  .mb-instagram-pack-profile-feed img {
    display: block; }
  .mb-instagram-pack-profile-feed .ip-container {
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem; }
  .mb-instagram-pack-profile-feed .btn {
    display: inline-block;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer; }
  .mb-instagram-pack-profile-feed .btn:focus {
    outline: 0.5rem auto #4d90fe; }
  .mb-instagram-pack-profile-feed .visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px); }
  .mb-instagram-pack-profile-feed .profile {
    padding: 5rem 0; }
  .mb-instagram-pack-profile-feed .profile::after {
    content: "";
    display: block;
    clear: both; }
  .mb-instagram-pack-profile-feed .profile-image {
    float: left;
    width: calc(33.333% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem; }
  .mb-instagram-pack-profile-feed .profile-image img {
    border-radius: 50%; }
  .mb-instagram-pack-profile-feed .profile-user-settings,
  .mb-instagram-pack-profile-feed .profile-stats,
  .mb-instagram-pack-profile-feed .profile-bio {
    float: left;
    width: calc(66.666% - 2rem); }
  .mb-instagram-pack-profile-feed .profile-user-settings {
    margin-top: 1.1rem; }
  .mb-instagram-pack-profile-feed .profile-user-name {
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 300; }
  .mb-instagram-pack-profile-feed .profile-edit-btn {
    font-size: 1.4rem;
    line-height: 1.8;
    border: 0.1rem solid #dbdbdb;
    border-radius: 0.3rem;
    padding: 0 2.4rem;
    margin-left: 2rem; }
  .mb-instagram-pack-profile-feed .profile-settings-btn {
    font-size: 2rem;
    margin-left: 1rem; }
  .mb-instagram-pack-profile-feed .profile-stats {
    margin-top: 2.3rem; }
  .mb-instagram-pack-profile-feed .profile-stats li {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-right: 4rem;
    cursor: pointer; }
  .mb-instagram-pack-profile-feed .profile-stats li:last-of-type {
    margin-right: 0; }
  .mb-instagram-pack-profile-feed .profile-bio {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.3rem; }
  .mb-instagram-pack-profile-feed .profile-real-name,
  .mb-instagram-pack-profile-feed .profile-stat-count,
  .mb-instagram-pack-profile-feed .profile-edit-btn {
    font-weight: 600; }
  .mb-instagram-pack-profile-feed .ip-gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding-bottom: 3rem; }
  .mb-instagram-pack-profile-feed .ip-gallery-item {
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    color: #fff;
    cursor: pointer; }
  .mb-instagram-pack-profile-feed .ip-gallery-item:hover .ip-gallery-item-info,
  .mb-instagram-pack-profile-feed .ip-gallery-item:focus .ip-gallery-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); }
  .mb-instagram-pack-profile-feed .ip-gallery-item-info {
    display: none; }
    .mb-instagram-pack-profile-feed .ip-gallery-item-info a.link {
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      background: none;
      margin: 0;
      padding: 0; }
  .mb-instagram-pack-profile-feed .ip-gallery-item-info li {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 600; }
  .mb-instagram-pack-profile-feed .ip-gallery-item-likes {
    margin-right: 2.2rem; }
  .mb-instagram-pack-profile-feed .ip-gallery-item-type {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1); }
  .mb-instagram-pack-profile-feed .ip-gallery-item-info {
    color: #fff; }
    .mb-instagram-pack-profile-feed .ip-gallery-item-info .ip-gallery-item-comments, .mb-instagram-pack-profile-feed .ip-gallery-item-info .ip-gallery-item-likes {
      color: #fff; }
    .mb-instagram-pack-profile-feed .ip-gallery-item-info .fa-clone,
    .mb-instagram-pack-profile-feed .ip-gallery-item-info .fa-comment {
      transform: rotateY(180deg);
      color: #fff; }
  .mb-instagram-pack-profile-feed .gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .mb-instagram-pack-profile-feed .loader {
    width: 5rem;
    height: 5rem;
    border: 0.6rem solid #999;
    border-bottom-color: transparent;
    border-radius: 50%;
    margin: 0 auto;
    animation: loader 500ms linear infinite; }
  @media screen and (max-width: 40rem) {
    .mb-instagram-pack-profile-feed .profile {
      display: flex;
      flex-wrap: wrap;
      padding: 4rem 0; }
    .mb-instagram-pack-profile-feed .profile::after {
      display: none; }
    .mb-instagram-pack-profile-feed .profile-image,
    .mb-instagram-pack-profile-feed .profile-user-settings,
    .mb-instagram-pack-profile-feed .profile-bio,
    .mb-instagram-pack-profile-feed .profile-stats {
      float: none;
      width: auto; }
    .mb-instagram-pack-profile-feed .profile-image img {
      width: 7.7rem; }
    .mb-instagram-pack-profile-feed .profile-user-settings {
      flex-basis: calc(100% - 10.7rem);
      display: flex;
      flex-wrap: wrap;
      margin-top: 1rem; }
    .mb-instagram-pack-profile-feed .profile-user-name {
      font-size: 2.2rem; }
    .mb-instagram-pack-profile-feed .profile-edit-btn {
      order: 1;
      padding: 0;
      text-align: center;
      margin-top: 1rem; }
    .mb-instagram-pack-profile-feed .profile-edit-btn {
      margin-left: 0; }
    .mb-instagram-pack-profile-feed .profile-bio {
      font-size: 1.4rem;
      margin-top: 1.5rem; }
    .mb-instagram-pack-profile-feed .profile-edit-btn,
    .mb-instagram-pack-profile-feed .profile-bio,
    .mb-instagram-pack-profile-feed .profile-stats {
      flex-basis: 100%; }
    .mb-instagram-pack-profile-feed .profile-stats {
      order: 1;
      margin-top: 1.5rem; }
    .mb-instagram-pack-profile-feed .profile-stats ul {
      display: flex;
      text-align: center;
      padding: 1.2rem 0;
      border-top: 0.1rem solid #dadada;
      border-bottom: 0.1rem solid #dadada; }
    .mb-instagram-pack-profile-feed .profile-stats li {
      font-size: 1.4rem;
      flex: 1;
      margin: 0; }
    .mb-instagram-pack-profile-feed .profile-stat-count {
      display: block; } }

@keyframes loader {
  to {
    transform: rotate(360deg); } }
  @supports (display: grid) {
    .mb-instagram-pack-profile-feed .profile {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: repeat(3, auto);
      grid-column-gap: 3rem;
      align-items: center; }
    .mb-instagram-pack-profile-feed .profile-image {
      grid-row: 1 / -1; }
    .mb-instagram-pack-profile-feed .ip-gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
      grid-gap: 1rem; }
    .mb-instagram-pack-profile-feed .profile-image,
    .mb-instagram-pack-profile-feed .profile-user-settings,
    .mb-instagram-pack-profile-feed .profile-stats,
    .mb-instagram-pack-profile-feed .profile-bio,
    .mb-instagram-pack-profile-feed .ip-gallery-item,
    .mb-instagram-pack-profile-feed .ip-gallery {
      width: auto;
      margin: 0; }
    @media (max-width: 40rem) {
      .mb-instagram-pack-profile-feed .profile {
        grid-template-columns: auto 1fr;
        grid-row-gap: 1.5rem; }
      .mb-instagram-pack-profile-feed .profile-image {
        grid-row: 1 / 2; }
      .mb-instagram-pack-profile-feed .profile-user-settings {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 1rem; }
      .mb-instagram-pack-profile-feed .profile-edit-btn,
      .mb-instagram-pack-profile-feed .profile-stats,
      .mb-instagram-pack-profile-feed .profile-bio {
        grid-column: 1 / -1; }
      .mb-instagram-pack-profile-feed .profile-user-settings,
      .mb-instagram-pack-profile-feed .profile-edit-btn,
      .mb-instagram-pack-profile-feed .profile-settings-btn,
      .mb-instagram-pack-profile-feed .profile-bio,
      .mb-instagram-pack-profile-feed .profile-stats {
        margin: 0; } } }
  .mb-instagram-pack-profile-feed .footer-btn {
    text-align: center;
    margin: 0 auto;
    float: none;
    font-size: 14px; }
  .mb-instagram-pack-profile-feed .footer-btn:after {
    content: '';
    width: 100%;
    clear: both; }
  .mb-instagram-pack-profile-feed .footer-btn .load-more {
    vertical-align: top;
    zoom: 1;
    padding: 8px 20px;
    background: #333;
    border-radius: 5px;
    color: #fff;
    margin: 0 auto;
    display: inline-block;
    cursor: pointer;
    float: none; }
    .mb-instagram-pack-profile-feed .footer-btn .load-more:hover {
      background: #222222; }
  .mb-instagram-pack-profile-feed .footer-btn .follow {
    margin: 0 auto;
    background: #408bd1;
    vertical-align: top;
    zoom: 1;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 5px;
    color: #fff;
    float: none;
    cursor: pointer; }
    .mb-instagram-pack-profile-feed .footer-btn .follow:hover {
      background: #005dd1; }
  .mb-instagram-pack-profile-feed .footer-btn .follow .fa {
    margin-right: 5px; }
  @media (min-width: 640px) {
    .mb-instagram-pack-profile-feed .ip-gallery .ip-gallery-item.grid-3 {
      /*width: 33.33%;
        float: left;*/ }
    .mb-instagram-pack-profile-feed .ip-gallery.gallery-grid-1 {
      grid-template-columns: 1fr; }
    .mb-instagram-pack-profile-feed .ip-gallery.gallery-grid-2 {
      grid-template-columns: 1fr 1fr; }
    .mb-instagram-pack-profile-feed .ip-gallery.gallery-grid-3 {
      grid-template-columns: 1fr 1fr 1fr; }
    .mb-instagram-pack-profile-feed .ip-gallery.gallery-grid-4 {
      grid-template-columns: 1fr 1fr 1fr 1fr; } }

/* End of Instagram Profile

 */
.mb-instagram-pack-feed li {
  list-style: none;
  float: left;
  display: inline-block;
  width: 25%;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  position: relative; }

.mb-instagram-pack-feed:after {
  clear: both;
  content: '';
  display: inline-block;
  width: 100%; }

.mb-instagram-pack-feed li a {
  padding: 5px;
  display: inline-block;
  margin: 0; }

/*# sourceMappingURL=mb-instagram-pack.css.map */